@import "tailwindcss";

*{
  transition: color;
  transition-duration: 300ms;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: oklch(1 0 0);
  --color-foreground: #212529;
  --color-primary: #e60076;
  --color-muted: #9fa1a2;
  --color-hover-background: oklch(96.7% 0.003 264.542);
}

.dark {
  --color-background: #171a23;
  --color-foreground: oklch(0.985 0 0);
  --color-primary: #ef1960;
  --color-muted: #7f8186;
  --color-hover-background: oklch(44.23% 0.01723 268.304);
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-muted: var(--color-muted);
  --color-hcolor: var(--color-hover-color);
  --color-hbackground: var(--color-hover-background)
}



