@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: oklch(1 0 0);
  --color-foreground: #212529;
  --color-primary: #e60076;
  --color-muted: #9fa1a2;
}

.dark {
  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.985 0 0);
  --color-primary: #ef1960;
  --color-muted: #7f8186;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-muted: var(--color-muted);
}
